<img src="/images/content.jpg" style="width:100%; height: 27rem;margin-top:-3rem" class="img-thumbnail" />
<div class="main-content mt-3 mb-3">Here at Bagel Station.® Bagels, we believe in the bagel. We
    believe it
    has
    the
    power to
    do amazing things—giving you a reason to look forward to morning office meetings or an afternoon
    escape
    or
    even
    the simple joy of a spread mustache on your kid’s face. It’s why we get to the store at 2am every
    day
    and bake
    fresh bagels every four hours, so our bagels are as fresh and delicious as possible. It’s why we
    only
    use the
    finest ingredients to create the most inspiring flavors. It’s why we do everything possible to make
    your
    day
    that much better. To spread a little more joy and happiness in the world. To laugh, smile and enjoy
    each
    other’s
    company that much more. And to us, there’s no better way to do that than with the bagel.</div>
<div class="font-weight-bold product-price text-center pb-3" style="border-bottom: 2px solid floralwhite;">Ever
    wonder why our bagels always taste so
    out-of-the-oven fresh?
    You’re about to find out. Grab an oven mitt and follow us.</div>
<div class="mt-4">
    <div class="row">
        <div class="col-md-6 text-center" style="margin-top: 6%;">
            <div class="mb-3 product-title font-weight-bold">MEET OUR BAKERS</div>
            <div class="product-price">This is where the magic begins – in our bakers’ capable hands. Every
                Bagel Stations. Bagels
                location has a head baker who makes certain every bagel is baked to perfection. They are the
                captains of the kitchen!</div>
        </div>
        <div class="col-md-6 text-center"><img src="/images/meetourbakers.jpg" class="img-thumbnail"
                style="height: 87%;"></div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center"><img src="/images/ourbakerswakeuptheroosters.jpg" class="img-thumbnail"
                style="height: 87%;"></div>
        <div class="col-md-6 text-center" style="margin-top: 5%; padding-right: 3%;">

            <div class="mb-3 product-title font-weight-bold">OUR BAKERS
                WAKE UP THE ROOSTERS.</div>
            <div class="product-price">Before the first crow, our bakers are already firing up the ovens.
                That’s because they arrive
                ahead of the sunrise to begin baking the very first batch of hot, fresh bagels. Why else would
                the roosters be so excited every morning?</div>
        </div>

    </div>
    <div class="row" style="margin-bottom: -5%;">
        <div class="col-md-6 text-center" style="margin-top: 6%;">
            <div class="mb-3 product-title font-weight-bold">WE BAKE
                ALL DAY LONG.</div>
            <div class="product-price">It’s a fact: No two people’s mornings begin at the same time. That’s
                why we bake all day long. So, no matter what time your day begins, your bagel will always be
                fresh-out-of-the-oven awesome.</div>
        </div>
        <div class="col-md-6 text-center"><img src="/images/webakealldaylong.jpg" class="img-thumbnail"
                style="height: 87%;"></div>
    </div>
</div>
