<div class="col-md-3">
    <div class="d-flex flex-column flex-shrink-0 p-3"
        style="border-right: 2px solid aliceblue;height: 100%;">
        <ul class="nav nav-pills flex-column mb-auto">

            <li>
                <a href="/home" class="nav-link" aria-current="page">
                    <i class="far fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="/menu" class="nav-link" aria-current="page">
                    <i class="far fa-list"></i>
                    Menu
                </a>
            </li>

            <span>
            </span>
            <li class="nav-item" style="margin-left: 20px;">
                <a href="/bagels" class="nav-link" aria-current="page">
                    <i class="far fa-dot-circle"></i>
                    Bagels
                </a>
            </li>

            <span>
            </span>
            <li class="nav-item" style="margin-left: 20px;">
                <a href="/beverages" class="nav-link" aria-current="page">
                    <i class="fas fa-mug-hot"></i>
                    Beverages
                </a>
            </li>

        </ul>
    </div>
</div>